<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask - Extractive Text Summarization</title>
    <link href="{{ url_for('static', filename='site.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('Index') }}" method="post">
        <div class="form-group">
            <label for="inputText">Input Text</label>
            <textarea rows="7" class="form-control" id="inputText" name="inputText"
                      placeholder="Enter huge text"></textarea>
        </div>
        <div class="form-group">
            <label for="summarizeTechniques">Summarize using</label>
            <select class="form-control" id="summarizeTechniques" name="summarizeTechniques">
                <option>TextRank</option>
                <option>Gensim</option>
                <option>TextTeaser</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success btn-block">Summarize!</button>
        <div class="form-group">
            <label for="outputSummary">Summary</label>
            <textarea rows="5" class="form-control" id="outputSummary">{{ summary }}</textarea>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>